/* alapbeállítások */

html {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* alapbeállítások vége */

.main--style {
    /*background-image: linear-gradient(rgb(14, 255, 183), rgb(0, 212, 255));*/
    background-image: linear-gradient(rgb(251, 107, 72), rgb(239, 80, 128));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

.todo__container {
    height: 35rem;
    width: 28rem;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(244, 247, 252);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* Dátum formázása*/

.date__section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.date__dayName, .date__numericDate {
    font-size: 1.2rem;
    color: rgb(245, 92, 101);
}

/* Input mező és gomb formázása*/

.input__section {
    display: flex;
    flex-direction: row;
}

.add__input {
    flex: 1 0 auto;
    font-size: 1rem;
    text-indent: 1rem;
    height: 2.5rem;
    font-style: italic;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    transition: border ease-in .25s;
}

.add__input:focus {
    outline: none;
    border: 1px solid #a3b1ff;
}

.add__input::placeholder {
    color: rgba(180, 180, 179, .7);
}

.add__button {
    width: 3.5rem;
    margin-left: .5rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(221, 221, 221);
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

/* Pending kiírás fromázása*/

.pending__section {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.text__pending {
    color: rgb(0, 0, 0);
}

/* generált ToDo lista fotmázása*/

.todoList__container {
    margin-bottom: 2rem;
}

.todo__div {
    background-color: rgb(224, 232, 245);
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

.todo__checkbox {
    margin: 0 .8rem;
    cursor: pointer;
}

.todo__span {
    color: rgb(0, 0, 0);
    flex: 1 0 auto;
}

.todo__button {
    color: rgb(255, 255, 255);
    padding: .5rem;
    border: none;
    background-color: rgb(245, 100, 104);
    width: 2.5rem;
    font-size: 1rem;
}