/* alapbeállítások */

html {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* alapbeállítások vége */

.main--style {
    /*background-image: linear-gradient(rgb(14, 255, 183), rgb(0, 212, 255));*/
    background-image: linear-gradient(rgb(251, 107, 72), rgb(239, 80, 128));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

.todo__container {
    height: 35rem;
    width: 28rem;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(244, 247, 252);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* Dátum formázása*/

.date__section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.date__dayName, .date__numericDate {
    font-size: 1.2rem;
    color: rgb(230, 150, 158);
}

/* Input mező és gomb formázása*/

.input__section {
    display: flex;
    flex-direction: row;
}

.add__input {
    flex: 1 0 auto;
    font-size: 1.2rem;
    text-indent: 1rem;
    height: 2.5rem;
    font-style: italic;
    color: rgba(180, 180, 179, .5);
    border-radius: 3px;
    border: 2px solid rgb(234, 235, 236)
}

.add__button {
    width: 3rem;
    margin-left: .5rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(221, 221, 221);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}